@import 'stylesheets/variables';

.app-Content {
  padding: 0 22px 22px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include breakpoint(small) {
    justify-content: center;
  }

  & > span {
    height: 155px;
    width: 300px;
    margin: 35px 10px 10px;
  }
}
