@import 'stylesheets/variables';

.app-Home {
  padding: 0 10px 10px;

  & h1 {
    text-align: center;
  }

  &-text {
    text-align: center;
    color: $white;
    font-size: $font-paragraph-s;

    @include breakpoint(small) {
      font-size: $font-paragraph-xs;
    };

    @include breakpoint(medium-and-below) {
      font-weight: 200;
    };

    &-light {
      font-weight: 100;
    }
  }
}
