$font-marydale: "marydale", serif;
$font-ingra: "ingra-2", sans-serif;

$font-heading-l: 3rem;
$font-heading-s: 2.25rem;

$font-paragraph-l: 2.375rem;
$font-paragraph-m: 1.875rem;
$font-paragraph-s: 1.5rem;
$font-paragraph-xs: 1.25rem;
