@import 'stylesheets/variables';

html {
  height: 100%;
  background-color: $gray;
}

body {
  background-color: $salmon;
  min-height: calc(100vh - 80px);
  margin: 0;
  position:relative;
  padding-bottom: 80px;
  font-family: $font-ingra;
  font-weight: 200;
}

h1 {
  font-family: $font-marydale;
  color: $white;
  font-size: $font-heading-l;
  font-weight: 100;
  margin: 0;

  @include breakpoint(small) {
    font-size: $font-heading-s;
  };

  & a {
    color: $white;
    text-decoration: none;
  }
}

#root {
  height: 100%;
  padding-top: 2em;
}
