<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FF9978">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title || 'Jose Canahui\'s Website' %></title>
  </head>
  <body ontouchstart>
    <div id="root"></div>
    <script src="https://use.typekit.net/eiy4qhf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>
